table {
    width: 100%;
}

.container {
    width: 800px;
    margin-top: 150px;
    -webkit-box-shadow: 7px -7px 30px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 7px -7px 30px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 7px -7px 30px 0px rgba(0, 0, 0, 0.35);
}